nav {
	display: flex;
	justify-content: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
	margin-bottom: 2.5vh;
	background-color: #424242;
	top: -20px;
	position: relative;
}

footer {
	margin-top: 5vh;
	background-color: #424242;
	color:#357CA3;
}

nav a {
	text-decoration: none;
	color:#357CA3;
	font-family:sans-serif;
	margin: 5vw;
}


nav li {
	text-decoration: none;
	display: inline;
}

.consulting ul {
	line-height: 1.5em;
	margin-bottom: 2vh;
}

a {
	text-decoration: none;
}

a.skip{
	padding:10px;
	text-decoration: none;
	position: relative;
    top: -80px;
}

a.skip:focus{
	background: white;
	top: 10px;
	border: 1px solid black;
}

body {
	font-family: 'Open Sans';
	font-size: 18px;
}


h1 {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	margin-bottom: 5vw;
	color:#357CA3;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 2.5vh;
	margin-top: 2.5vh;
	color:#357CA3;
	text-align: center;
}

p {
	text-align: center;
	line-height: 1.5em;
}

.current{
	text-decoration: underline;
}


.personas {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row: 1fr 1fr;
	justify-content: start;
}

.storymap {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
}
.item p {
	height: 100%;
	width: 100%;
}

.item img {
	width: 50%;
	margin-bottom: 2.5vh;
}

.item .personas img {
	width: 100%;
	display:flex;
    align-items:center;
    justify-content:center;
}

.item .storymap img {
	width: 100%;
	display:flex;
    align-items:center;
    justify-content:center;
}

.interaction img {
	width: 75vw;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 5vw;
	margin-left: 5vw;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;

}

@media screen and (min-width:800px) {

	h1 {
		margin-bottom: 2.5vw;
	}

	.item {
		display: grid;
		grid-template-columns: auto auto;
		align-items: start;
		margin-bottom: 2.5vh;
	}

	.interaction .item img {
		width: 90%;
		margin-left: 3vw;
	}

	.item img {
		width: 90%;
	}

	

	.home img {
		width: 30vh;
		margin-right: 2.5vh;
	}

	.home p {
		display: grid;
		align-items: center;
	}

	.content {
		display: grid;
		align-items: flex-start;
	}

	.content p, h2 {
		text-align: left;
	}
	
}


.fa-linkedin {
	color: #357CA3;
}

